﻿@inherits System.Web.Mvc.WebViewPage<PetrolOfisi.PositiveCard.Models.ViewModels.CardPairingViewModel>


    <form id="secureForm" action="https://sanalpos.isbank.com.tr/fim/est3Dgate" method="post">
        <input type="hidden" name="clientid" value="@Model.ClientId">
        <input type="hidden" name="amount" value="@Model.Amount">
        <input type="hidden" name="oid">
        <input type="hidden" name="okUrl" value="@Model.OkUrl">
        <input type="hidden" name="failUrl" value="@Model.FailUrl">
        <input type="hidden" name="islemtipi" value="@Model.IslemTipi">
        <input type="hidden" name="taksit">
        <input type="hidden" name="rnd" value="@Model.Random">
        <input type="hidden" name="hash" value="@Model.Hash">
        <input type="hidden" name="currency" value="@Model.Currency">
        <input type="hidden" name="storetype" value="@Model.StoreType">
        <input type="hidden" name="refreshtime" value="10">
        <input type="hidden" name="MERCHANTSAFEKEY" value="@Model.CardNo">
        <input type="hidden" name="MERCHANTSAFEAUTHTYPE" value="@Model.AuthType">
        <input type="hidden" name="MERCHANTGROUPID" value="7002">
        <input type="hidden" name="MERCHANTSAFEACQUIRER" value="7">
        <input type="hidden" name="firmaadi" value="Benim Firmam">
        <input type="hidden" name="faturaFirma" value="faturaFirma">
        <input type="hidden" name="Fadres" value="XXX">
        <input type="hidden" name="Fadres2" value="XXX">
        <input type="hidden" name="Fil" value="XXX">
        <input type="hidden" name="Filce" value="XXX">
        <input type="hidden" name="Fpostakodu" value="postakod93013">
        <input type="hidden" name="tel" value="XXX">
        <input type="hidden" name="fulkekod" value="tr">
        <input type="hidden" name="nakliyeFirma" value="na fi">
        <input type="hidden" name="tismi" value="XXX">
        <input type="hidden" name="tadres" value="XXX">
        <input type="hidden" name="tadres2" value="XXX">
        <input type="hidden" name="til" value="XXX">
        <input type="hidden" name="tilce" value="XXX">
        <input type="hidden" name="tpostakodu" value="ttt postakod93013">
        <input type="hidden" name="tulkekod" value="usa">
        <input type="hidden" name="itemnumber1" value="a1">
        <input type="hidden" name="productcode1" value="a2">
        <input type="hidden" name="qty1" value="3">
        <input type="hidden" name="desc1" value="a4 desc">
        <input type="hidden" name="id1" value="a5">
        <input type="hidden" name="price1" value="6.25">
        <input type="hidden" name="total1" value="7.50">
    </form>

<script type="text/javascript">
    function onloadProcess() {
        document.getElementById("secureForm").submit();
    }
</script>